@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:wght@400;500;700&display=swap');* {
    margin: 0px;
    padding: 0px;
}
* 

/* font-family: 'Alfa Slab One', cursive;
font-family: 'Bebas Neue', cursive;
font-family: 'Montserrat', sans-serif; */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url(../images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
}
.delivery_phone h6{
    font-family: 'Montserrat', sans-serif;
    color: #3d2514;
}





.navbar-light .navbar-nav .nav-link {
    padding: 0px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    letter-spacing: 3px;
    position: relative;
    color: #3d2514;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #bf2222;
}

.navbar-light .navbar-nav .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #bf2222;
    transition: 0.4s all ease-in-out;
}

.navbar-light .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #bf2222;
    transition: 0.4s all ease-in-out;
}

.nav-item {
    padding-left: 59px;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    width: 45%;
}

.navbar-light .navbar-nav .nav-link:hover::before {
    width: 45%;
}

.hero_section_data{
    margin-top: 12%;
}

.hero_section_data h3{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    /* letter-spacing: 1px; */
    border: 3px dashed #3d2514;
    padding: 3px 10px 0 10px;
    display: initial;
    color: #3d2514;
    font-size: 28px;
}
.hero_section_data h1{
    font-family: 'Alfa Slab One', cursive;
    font-size: 116px;
    color: #3d2514;
    text-transform: uppercase;
    text-shadow: 3px 7px 2px #fee8bc;
}
.hero_section_data h2{
    font-family: 'Alfa Slab One', cursive;
    font-size: 60px;
    color: #3d2514;
    text-transform: uppercase;
    text-shadow: 3px 7px 2px #fee8bc;
}
.burgerImage{}
.hero_section_img{
    position: relative;
}
.hero_section_img h2{
    border: 3px dashed #ffffff;
    width: 87%;
    height: 87%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    color: #ffffff;
    letter-spacing: 3px;
    font-size: 42px;
    font-family: 'Bebas Neue', cursive;
    padding-top: 8px;
    justify-content: center;
}
.burger_price{
    height: 23%;
    width: 23%;
    border-radius: 50%;
    position: absolute;
    left: 22%;
    top: 61%;
    background: #bf2222;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.burger_price span{
    font-size: 30px;
    margin-bottom: 0px;
    display: block;
}
.specials_section{}
.specials_img1{
    position: relative;
}
.specials_item1{
    position: absolute;
    left: 5%;
    top: 5%;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
}


.specials_img2{
    position: relative;
    margin-bottom: 38px;
}
.specials_item2{
    position: absolute;
    left: 4%;
    top: 8%;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Bebas Neue', cursive;
}

.specials_img3{
    position: relative;
}
.specials_item3{position: absolute;left: 4%;top: 8%;text-transform: uppercase;color: #ffffff;font-family: 'Bebas Neue', cursive;}
.specials_section h2{
    font-size: 26px;
    letter-spacing: 1px;
}
.specials_section h1{
    padding: 0px;
}
.menu_section{}
.menu_section h3{
    font-family: 'Bebas Neue', cursive;
    background-color: #ffc045;
    display: inline;
    padding: 3px 12px;
    padding-top: 5px;
    /* letter-spacing: 0px; */
    font-size: 22px;
    color: #3d2514;
}
.menu_section h1{
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    margin-top: 20px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.menu_section p{
    font-family: 'Montserrat', sans-serif;
    padding: 0px 8%;
    margin-bottom: 50px;
}
.menuItemdetails1{}
.menuItemdetails1 img{}
.menuItemdetails1 h2{
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;

}
.menuItemdetails1 p{
    margin-bottom: 25px;
}
.menuItemdetails1 a{}
.btn-order{
    font-family: 'Alfa Slab One', cursive;
    background-color: #bf2222;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 0%;
    padding-top: 12px;
}
.menuItemdetails2 img{
    width: 95%;
}
.menuItemdetails2 h2{
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;

}
.menuItemdetails2 p{
    margin-bottom: 25px;
}
.slider_section{}
.slider_shadow{
    box-shadow: 6px 13px 11px 7px #302f2f63;
    padding: 25px 15px;
}
.slider_section h2{
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    font-size: 25px;
    letter-spacing: 2px;
}
.slider_section h1{
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    text-transform: uppercase;
}
.slider_section p{
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}
.slider_img{
    /* width: 100%; */
}
.slider_img img{
    width: 100%;
}


/* owl carousel css */

.owl-nav{
    display: none;
}
.owl-dots{top: 80%;position: absolute;left: 8%;}
.owl-dots .owl-dot span{
    display: block;
    height: 12px;
    width: 12px;
    background: #dcdcdc;
    border-radius: 50%;
    margin-right: 3px;
}
.owl-dots .active span{
    background: #ffc045;
}
.booking_section{
    position: relative;
}
.booking_section .booking_image1{
    position: absolute;
    left: 0%;
}
.booking_section .booking_image2{
    position: absolute;
    left: 10%;
    top: 40%;
}
.booking_section .booking_image3{
    position: absolute;
    right: 0%;
    top: 51%;
}
.booking_title{}
.booking_title h2{
    font-family: 'Bebas Neue', cursive;
    color: #3d2514;
    font-size: 25px;
    letter-spacing: 2px;
}
.booking_title h1{
    font-family: 'Alfa Slab One', cursive;
    color: #3d2514;
    text-transform: uppercase;
}
.booking_form form input{
    background-color: transparent;
    height: 32%;
    font-family: 'Bebas Neue', cursive;
    font-weight: 100;
}
.booking_form form input[type="submit"]{
    background: #bf2222;
    color: #ffffff;
    font-family: 'Alfa Slab One', cursive;
    width: 100%;
}
.btm_banner{
    background-image: url(../images/bottom_banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* height: fit-content; */
    min-height: 75vh;
    margin-bottom: 60px;
    margin-top: 230px;
    color: #ffffff;
}
.banner_content{
    padding: 80px 20px;
}
.banner_content img{}
.banner_content p{
    font-family: 'Montserrat', sans-serif;
    padding-top: 35px;
}
.contacts{}
.contacts .address_logo{height: 55px;width: 55px;}
.contacts .address_logo i{font-size: 30px;}
.contacts h3{
    font-family: 'Bebas Neue', cursive;
}
.copyright{}
.copyright h3{font-family: 'Bebas Neue', cursive;font-size: 20px;}
.social_link{}
.social_link ul{
    display: flex;
    list-style: none;
    justify-content: end;
    align-items: center;
}
.social_link ul li{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-left: 10px;
    border-radius: 50%;
    margin-top: 15px;
}
.social_link ul li a{
    color: #090909;
    font-size: 21px;
}
.contacts_section{
    margin-top: 11%;
}
.footer_section {
    padding: 0% 2%;
    padding-top: 20%;
}

